language: java
jdk: openjdk8
addons:
  ssh_known_hosts: 129.194.69.128
before_install:
- find src -type f -exec sed -i 's/127.0.0.1/129.194.69.128/g' {} +
install:
- npm install
script:
- npm run build
before_deploy:
- openssl aes-256-cbc -K $encrypted_6c16117ae5d7_key -iv $encrypted_6c16117ae5d7_iv -in deploy_rsa.enc -out /tmp/deploy_rsa -d
- eval "$(ssh-agent -s)"
- chmod 600 /tmp/deploy_rsa
- ssh-add /tmp/deploy_rsa
deploy:
  provider: script
  skip_cleanup: true
  script: ssh martijs0@129.194.69.128 rm -rf /opt/docker-frontend-deploy/* && scp -r dist/*
    martijs0@129.194.69.128:/opt/docker-frontend-deploy/
  on:
    branch: master
